{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2
      }
    }
  ]
}
